@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

#logo {
  width: 256px;
  margin: 16px 0 0 24px;
}

#left, #right {
  display: inline-block;
  position: relative;
}

#header { margin: 18px 0 36px 0; }

#left {
  width: 30vw;
  margin-left: 14vw;
}

#right {
  float: right;
  width: 40vw;
  margin-right: 4vw;
}

.task {
  margin-bottom: 24px;
  padding: 16px;
  border-radius: 16px;
  background-color: #0ea8ed;
}

.task-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 0.5;
}

.task-buttons, .modes, .controls, #timer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.controls {
  top: 256px;
}

#timer {
  font-size: 81px;
  font-weight: 500;
  top: 20px;
  z-index: -1;
}

body { 
  background-color: #a7dbf2; 
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
  color: #005278;
  font-size: 20px;
  transition: 0.3s background-color;
}

button {
  padding: 8px 16px;
  background-color: #FFFFFF;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  color: #0ea8ed;
  border-radius: 5vw;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s background-color;
}

button:hover {
  background-color: #005278;
  color: #FFFFFF;
}

button:active {
  transform: translateY(2px);
  background-color: #002a3d;
}

#quote { 
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.task-title, .task-details, .task-date, .task-time {
  color: white;
  margin-left: 8px;
  line-height: 0.5;
  font-family: "Lato", sans-serif;
}

#session-title {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 0.5;
  text-align: right;
  float: left;
}

#info {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: 500;
  text-align: right;
  float:left;
}